.container{
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
  "hd"
  "sd"
  "main"
  "ft";
  border: 2px solid red;
    text-align: center;
    width:100%;
    height:100%;

    }



.box{
    border: 1px solid red;
    }
  .header{
    display:flex;
    justify-content: center;
    align-items: center;
    grid-area:hd;
  }
  .footer{
    grid-area: ft;


  }
  .sidebar{
    grid-area: sd;

  }
  .content{
      display:flex;
      position: relative;
      flex-direction: column;
      text-align: left;
      grid-area: main;
      


  }

#cryptid {
    max-height: 50%;
    max-width: 50%;
}


.social{
display: flex;
flex-direction: row;
justify-content:center;

}




/* If Screen Is Wide Enough */
@media(min-width:900px) {
.container{
      display:grid;
      grid-template-columns: 300px 300px 300px;
      grid-template-rows: 250px 600px;
      grid-template-areas: 
      "hd hd hd hd hd hd hd hd"
      "sd main main main main main main main"
      "ft ft ft ft ft ft ft ft";
      border: 2px solid red;
  }
    
.content{
      padding-left: 10px;


  }